# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio / IntelliJ IDEA files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml
*.ipr
*.iws

# External native build folder
.externalNativeBuild/
.cxx/

# OS-specific files
.DS_Store
Thumbs.db

# Built variants
/captures
